venv/
*.dcm
*.nii.gz.
__pycache__/
scratch/*
*.h5
*.tar.gz
*.npy
*.npz
*.gz
*.csv
*.zip
data/Release_06_12_23

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST